// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: cyan;
}

a {
  float: right;
}

.band_names {
  display: flex;
  border: 1px solid grey; 
}
